<div class="row ">
    <div class="col-12 mt-4">
        <div class="shop-flex-container">
            <div class="shop-flex-left col-xs-12">
                <h4 class="text-left"><i>Listings</i></h4>
            </div>
            <div class="shop-flex-right col-xs-12">
                <button type="button" class="btn btn-3 btn-success" [routerLink]="['/product/add']">Add New +</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-4 col-md-6 mt-3" *ngFor="let product of products$ | async">

        <div class="container">
            <div class="content">
                <h6 class="card-title text-center">{{product.name}}</h6>
                <hr class="my-4">
                <p class="card-text"><i>Cost</i> : INR {{product.price}}</p>
                <p class="card-text">No. of Units Available : {{product.quantity}}</p>

                <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success btn-circle btn-sm" [routerLink]="['/product/get', product.id]"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-warning btn-circle btn-sm" [routerLink]="['/product/edit', product.id]"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-circle btn-sm" (click)="deleteProduct(product.id)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>